/*********************
		GENERAL
*********************/
body {
	font-family: 'PT Sans Narrow';
	padding: 30px;
}
svg {
	padding-bottom: 50px;
	padding-top: 30px;
}

/*********************
		TEXT
*********************/
.jumbotron h1 {
	font-family: 'PT Sans Narrow';
	text-align: center;
}
.qz-text {
	font-family: 'PT Sans Narrow';
}

/*********************
		GRAPHS
*********************/

/*********************
		QUIZ
*********************/
#question label.choice {
	font-family: 'PT Sans Narrow';
	display: block;
	width: 100%;
	border: none;
	padding: 10px;
	font-size: 12px;
	cursor: pointer;
}

#question label.choice:hover {
	background: #d3d3d3;
	font-family: 'PT Sans Narrow';
}

input {
	display: none;
}
span {
	display: block;
	padding: 20px;
}
span:hover {
	background: #ededed;
	border-radius: 25px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#done span text {
	font-size: 25px;
}

#question.choice {
	display: block;
}

text:hover { 
	fill: #7e7e7e;
	border: 1px solid black;
	opacity: 1.0; 
	font-weight: bold; 
	font-size: 60px; 
	z-index: 10000;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}